* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

li>a {
    color: #3C3C3C;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

body {
    font-family: 'Lato';
    font-style: normal;
    color: #3C3C3C;
}

.wrapper {
    overflow: hidden;
}


.header {
    border-bottom: 1px solid #BDBDBD;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.header__logo {
    margin: 10px 0px;
}

.header__nav-list {
    font-size: 20px;
    line-height: 24px;
}

.header__button {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #FFFFFF;
}

.header__button:hover {
    background: #18B5DC;
    color: #FFFFFF;
}

a:hover {
    color: #18B5DC;
}


.section1 {
    display: flex;
    padding: 160px 0px;
    background: #F6F6F6;
}

.section1__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;
}

.section1__title::after {
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    background: #DDDBDB;
    margin: 0 auto;
    margin-top: 20px;
}

.section1__text {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}

.card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.card__img-1 {
    height: 270px;
    width: 270px;
    background-image: url(https://media.istockphoto.com/photos/young-adult-caucasian-man-takes-a-selfie-portrait-of-attractive-guy-picture-id1333969254?k=20&m=1333969254&s=170667a&w=0&h=gG2MgdKZp2AR5drwcFUCVQBx8GirmX30Qb1ng0GD1jU=);
    background-position: center center;
    background-color: #18B5DC;
    cursor: pointer;
}

.card__img-2 {
    height: 270px;
    width: 270px;
    background-image: url(../img/photo1.png);
    background-color: #18B5DC;
    cursor: pointer;
}

.card__img-3 {
    height: 270px;
    width: 270px;
    background-image: url(../img/photo2.png);
    background-color: #18B5DC;
    cursor: pointer;
}

.card__img-4 {
    height: 270px;
    width: 270px;
    background-image: url(../img/photo3.png);
    background-color: #18B5DC;
    cursor: pointer;
}

.card__img-1:hover {
    background-image: none;
}

.card__img-2:hover {
    background-image: none;
}

.card__img-3:hover {
    background-image: none;
}

.card__img-4:hover {
    background-image: none;
}

.card__name {
    margin-top: 20px;
    color: #282528;
}

.card__skills {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
}


.footer {
    display: flex;
    padding: 40px 0px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.footer__nav-list {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer__ikons {
    display: flex;
    gap: 10px;
}